html {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* header */
.header {
  background-image: url(../images/hero-img.jpg);
  height: 30rem;
  background-size: cover;
  background-position: center;
  display: block;
  color: white;
  position: relative;
  font-family: "Domine", serif;
}

/* navbar */
.header__nav-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 1rem;
  font-size: 2rem;
}

.header__nav-bar ul {
  padding-left: 0;
}

.header__nav-bar li {
  display: inline;
  padding: 0.5rem;
}

.header__nav-bar a {
  text-decoration: none;
  color: white;
}

/* main heading */
.header__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  font-size: 5rem;
  animation: fadeIn 2s ease-out;
}

/* about me section */
.about-me {
  display: flex;
  margin: 1rem;
}

.about-me__image-container {
  flex: 1 1 0;
  width: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-me__image {
  display: block;
  width: 50%;
  height: auto;
  object-fit: contain;
  border-radius: 50%;
  box-shadow: 0px 0px 20px black;
}

.about-me__info {
  padding: 1.5rem;
  flex: 2 1 0;
  width: 0;
}

.about-me__title {
  text-align: center;
  font-size: 2rem;
  margin: 0;
  font-family: "Domine", serif;
}

.about-me__text {
  font-size: 1.2rem;
  text-align: justify;
  padding: 1rem;
}

/* contact section */
.contact {
  background-color: rgba(0, 0, 0, 0.918);
  color: white;
  display: flex;
  flex-wrap: wrap;
}

.contact h2 {
  padding: 2rem;
  font-family: "Domine", serif;
  font-size: 2rem;
}

.contact__info {
  display: inline;
  padding: 4rem;
}

/* projects section */
.projects__title {
  text-align: center;
  font-family: "Domine", serif;
  font-size: 2rem;
}

.projects__cards-container {
  display: flex;
}

.projects__lrg-card {
  flex-grow: 1;
}

.projects__sml-cards {
  flex-grow: 1;
  flex-basis: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.lrg-card {
  margin: 1rem;
  padding: 1rem;
  padding-top: 4rem;
  height: 40rem;
  max-width: 50rem;
  text-align: center;
  margin: auto;
}

.card__image {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.sml-card {
  margin: 1rem;
  padding: 1rem;
  height: 20rem;
  max-width: 25rem;
  text-align: center;
}

.card__title {
}

.card__info {
}

/* footer */
.footer {
  border: 1px solid black;
  padding: 20px;
}

/* smaller desktop */
@media screen and (max-width: 1140px) {
  .about-me__image {
    width: 60%;
  }

  .projects__cards-container {
    flex-direction: column;
  }
}

/* tablet screen */
@media screen and (max-width: 768px) {
  .header {
    height: 20rem;
  }

  .header__nav-bar {
    font-size: 1rem;
  }

  .header__title {
    font-size: 2.5rem;
  }

  .about-me {
    flex-direction: column;
  }

  .about-me__image-container {
    flex: auto;
    width: 100%;
  }

  .about-me__image {
    width: 40%;
  }

  .about-me__info {
    flex: auto;
    width: 100%;
  }
}

/* mobile screen */
@media screen and (max-width: 480px) {
  .header {
    height: 10rem;
  }

  .header__nav-bar {
    justify-content: center;
    font-size: 0.5rem;
  }

  .header__title {
    font-size: 1.5em;
  }

  .contact {
    flex-direction: column;
    text-align: center;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
