* {
  margin: 0;
  padding: 0;
}

.header {
  background-image: url(../images/hero-img.jpg);
  height: 300px;
  background-size: cover;
  background-position: center;
  display: block;
  color: white;
  position: relative;
}

.header__nav-bar {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: flex-end;
}

.header__nav-bar li {
  display: inline;
  padding: 5px;
}

.header__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3em;
}

.about-me {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.about-me__image {
  max-width: 50%;
  height: auto;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.about-me__info {
  width: 50%;
  margin-top: auto;
  margin-bottom: auto;
}

.about-me__title {
  text-align: center;
  margin-bottom: 20px;
}

.about-me__text {
  text-align: justify;
}

.footer {
  border: 1px solid black;
  padding: 20px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .header__title {
    font-size: 2em;
  }
}

@media screen and (max-width: 480px) {
  .header__nav-bar {
    justify-content: center;
  }

  .header__title {
    font-size: 1.5em;
  }
}
