* {
  margin: 0;
  padding: 0;
}

.header {
  background-image: url(../images/hero-img.jpg);
  height: 300px;
  background-size: cover;
  background-position: center;
  display: block;
  color: white;
  position: relative;
}

.header__nav-bar {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: flex-end;
}

.header__nav-bar li {
  display: inline;
  padding: 5px;
}

.header__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3em;
}

.about-me {
}

.about-me__image {
}

.footer {
  border: 1px solid black;
  padding: 20px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 2em;
  }
}

@media screen and (max-width: 480px) {
  .nav-bar {
    justify-content: center;
  }

  .title {
    font-size: 1.5em;
  }
}
